*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#js-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.popup-overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  background: rgba(95, 97, 99, 0.7);
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  margin: 0;
  background: none;
  padding: 10px;
  cursor: pointer;

  &::before, &::after {
    content: "";
    position: absolute;
    width:  1.2px;
    height: 20px;
    border-radius: 2px;
    background-color: #ffffff;
    left: 50%;
    top: 0;
  }
  
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  max-width: 1172px;
  gap: 42px;
}

.content-main {
  display: flex;
  flex-direction: column;
  width: 304px;
  height: 203px;
  padding: 14px 52px 26px 52px;
  background-color: #f4d019;

  .main-text {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
    margin: 0;
  }
  
  .main-button {
    display: block;
    margin: auto auto 0 auto;
    padding: 12px 8px;
    border: none;
    background-color: #f37641;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
  }
}

.content-images-wrapper {
  display: none;
}

.image-link {
  min-width: 220px;
  width: 50%;
  height: auto;
}

@media (min-width: 896px) {
  .popup-overlay {
    padding: 84px 0;
  }
  
  .popup-close {
    top: 25px;
    right: 25px;
    padding: 22.5px;
  
    &::before, &::after {
      width: 3.6px;
      height: 45px;
      border-radius: 4px;
    }
  }

  .content-main {
    width: 648px;
    height: 220px;
    padding: 33px;

    .main-text {
      font-size: 24px;
    }

    .main-button {
      padding: 19px 20px;
      margin-right: 0;
    }
  }

  .content-images-wrapper {
    display: flex;
    gap: 42px;
    flex: 1 1 220px;
    max-width: 648px;
    
    .content-image {
      display: block;
      width: 100%;
      height: auto;
    } 
  }
}

@media (min-width: 1172px) {
  .popup-overlay {
    padding: 172px 0;
  }
}